<div class="form-group">
  <input  class="form-control" placeholder="Search Employee" style="width: 300px" [(ngModel)]="searchText">
</div>

<div>
    <button class="btn" style="margin-left: 3em;" (click)="openDialog()">Create</button>

</div>
<br/>

<h1><b>User List</b></h1>
<div class="show">
<mat-card class="example-card" *ngFor="let data of list | filter : searchText ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><font style="color: chocolate; " > <b>  ID : </b></font>{{data.id }}</div><br/>
    <mat-card-title><font style="color: chocolate; " > <b>Title :</b></font> {{data.title}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p style="color: chocolate"><b>Body</b> </p>
      {{data.body}}

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="getDetails(data.id)" class="btn">Details</button>&nbsp;
    <button mat-raised-button class="btn" (click)="editUser(data)">Update</button>
  </mat-card-actions>
</mat-card>
</div>

