.example-card {
  max-width: 400px;
  margin-left: 2em;
  background-color: black;
  color: white;
  margin-top: 2em;
}
.show{
  display: flex;
    flex-flow: row wrap;
}
.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-form-field {
  margin-right: 12px;
}

.btn{
  background-color: chocolate;
}
