<!-- <div class="container">
    <br>
  <form style="opacity: 1;" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="form-group">
        <label class="label" for="title" style="font-size: 1em">Title</label><br>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="model.title" #title="ngModel"  required title />
        <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
            <div *ngIf="title.errors.required">Title is required</div>
        </div>
    </div>
    <div class="form-group">
        <label class="label" for="body">Body</label><br>
        <input type="text"  class="form-control jumbotron" id="body" name="body" [(ngModel)]="model.body" #body="ngModel" required body />
        <div *ngIf="f.submitted && body.invalid" class="invalid-feedback">
            <div *ngIf="body.errors.required">Body is required</div>
        </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-6">
          <button class="btn bn-primary ">Register</button>
      </div>

    </div>





</form>



</div> -->



<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="password">Body:</label>
      <input type="text" formControlName="body" placeholder="body" name="body" class="form-control jumbotron" id="body">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>

