<!-- <div class="container">
    <br>
  <form style="opacity: 1;"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="form-group">
        <label class="label" for="title" style="font-size: 1em; color: white"><b>Title</b></label><br>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="user.title" #title="ngModel"  />

    </div>
    <div class="form-group">
        <label class="label" for="body" style="font-size: 1em; color: white"><b>Body</b></label><br>
        <input type="text"  class="form-control jumbotron" id="body" name="body" [(ngModel)]="user.body" #body="ngModel"  />

    </div>


    <div class="row">
      <div class="form-group col-sm-6">
          <button class="btn bn-primary ">Update</button>
      </div>

    </div>
</form>
</div> -->


<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" [(ngModel)]="title"  placeholder="title" name="title" class="form-control" id="title" >
    </div>

    <div class="form-group">
      <label for="body">Body:</label>
      <input formControlName="body"[(ngModel)]="body"  placeholder="First Name" name="body" class="form-control" id="body">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
