<h2><font style="color: chocolate; " > <b>  User Detail </b></font></h2>
<mat-card class="example-card" >
  <mat-card-header>

    <mat-card-title><font style="color: chocolate; " > <b> User Id : </b></font> {{user?.id}}</mat-card-title>
    <mat-card-subtitle style="color: white"><font style="color: chocolate; " > <b> User Title : </b></font><b></b>{{user?.title}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
    <font style="color: chocolate; " > <b>User Body : </b></font>
    </p>
    {{user?.body}}
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button></button> -->
  </mat-card-actions>
</mat-card>

<br/>
<h1>Comments Box</h1>
<br/>
<br/>
<div class="show">
<mat-card class="example-card" *ngFor="let data of comment | filter : searchText ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><font style="color: chocolate; " > <b> User Id : </b></font> {{data.id }}</div><br/>
      <mat-card-title><font style="color: chocolate; " > <b>User Name : </b></font>  {{data.name}}</mat-card-title>
      <mat-card-subtitle style="color: white"><font style="color: chocolate; " > <b> EmailId : </b></font> {{data.email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
          <font style="color: chocolate; " > <b> Body : </b></font> <br/>{{data.body}}
      </p>
    </mat-card-content>

  </mat-card>
</div>
